/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: sans-serif;
    height: 100vh;
    color: white;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

.text-align-center {
    text-align: center;
}

.text-green {
    color: #4BC800;
}

.text-red {
    color: #C52E3C;
}

.align-items-center {
    align-items: center;
}


ul {
    list-style-type: none;
}

/* MAIN */
.header-right-menu {
    position: absolute;
    top: 10px;
    right: 10px;

}

.header-right-menu span {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #4A4A4A;
}

main {
    position: relative;
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: black;
}

.wrapper {
    flex-wrap: wrap;
    align-content: center;
    width: 90%;
    margin: 0 auto;
}

.col {
    width: calc(100% / 7);
}

.card {
    padding: 5px;
}
.card-img {
    position: relative;
}

.name {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* FOOTER */
.footer-container {
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 100px;
}

.footer-left-menu, .footer-right-menu {
    width: 15%;
}

.footer-center-menu {
    flex-grow: 1;
    justify-content: center;
}

.footer-right-menu {
    justify-content: flex-end;
}

.end-meeting {
    line-height: 100px;
    padding: 0 25px;
    background-color: #4A4A4A;
}

.text {
    padding: 10px;
    font-size: 1rem;
}

.footer-container i.icon {
    font-size: 2rem;
}

li {
    padding: 10px;
}
