/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

ul {
    list-style-type: none;
}

/* MAIN */
.wrapper {
    flex-wrap: wrap;
    align-content: center;
    width: 90%;
    margin: 0 auto;
    /* debug */
    /* height: 100vh; */
    background-color: aqua;
}

.col {
    width: calc(100% / 7);
}

.card {
    padding: 5px;
}
.card-img {
    position: relative;
}

.name {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* FOOTER */
.footer-container {
    justify-content: space-between;
    align-items: center;
    background-color: chocolate;
    height: 100px;
    font-size: 1.5rem;
    color: white;
}

.left, .right {
    width: 15%;
}

.center {
    flex-grow: 1;
    justify-content: center;
}

li {
    padding: 10px;
}

.angle-up {
    font-size: 1rem;
}

.text-align-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}